@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* src/assets/global.css */
body {
    background-color: #F5F5F5;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #2E8B57;
    font-weight: 700;
    /* font-family: 'Courier New', Courier; */
    /* font-family: Arial, sans-serif; */
    /* font-style: Helvetica, Arial, sans-serif; */
  }


  